<div class="ordered-pizza">
    <div class="container ordered-inf">
        <h4><%= pizza.title %>
            <% if(size == "small_size"){ %>
                (Мала)
            <% } else if(size == "big_size") {%>
                (Велика)
            <%}%>
        </h4>
        <div class="row parameters">
            <span class="col-xs-4">
                <img src="assets/images/size-icon.svg">
                <span><%= pizza[size].size %></span>
            </span>

            <span class="col-xs-5">
                <img src="assets/images/weight.svg">
                <span><%= pizza[size].weight %></span>
            </span>
        </div>
        <div class="row buttons">
            <span class="col-xs-4 sum"><%= pizza[size].price %>грн</span>
            <div class="col-xs-6">
                <b class="label-count"><%= quantity %></b>
            </div>

        </div>
    </div>
    <img class="pizza-image" src="<%= pizza.icon %>">
</div>